{
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "~"
      }
    ]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript",
    "next/babel"
  ]
}
