{
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "rootPathPrefix": "~/",
        "rootPathSuffix": "src"
      }
    ]
  ],
  "presets": ["@babel/preset-react", "@babel/preset-typescript", "next/babel"]
}
